@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: aliceblue;
}

header{
   
    position: fixed;
    z-index: 50;
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    background-color: white;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    box-shadow: 0px 5px 10px lightgrey;
}

.head-group{
    display: flex;
    justify-content: center;
    align-items: center;
}

#hg-1{
    margin-left: 1.25rem;
}

#hg-1 img{
    height: 2.75rem;
}

#hg-1 h1{
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: 900;
    color: #67e8f9;
    border-bottom: 4px dashed #67e8f9;
    margin-left: 0.5rem;
}

#hg-1 h1 span{
    color: #06b6d4;
}

#social-links{
    display: flex;
    flex-direction: column;
}

#social-links img{
    position: fixed;
    z-index: 50;
    left: 0;
    background-color: #155e75;
    padding: 0.75rem;
    width: 3.5rem;
    cursor: pointer;
    transition: all ease-in-out;
    transition-duration: 500ms;

}

#img1{
    top: 40%;
}

#img2{
    top: 50%;
}

#img3{
    top: 60%;
}

section.download {

    margin: 150px 0;
    background: #fff;
    width: 90%;
    border-radius: 15px;
    box-shadow: 0px 20px 20px 0px #00000017;
    padding: 2rem;
    text-align: center;
}

section.download h2{
    font-size: 1em;
}


section.download h2, section.download p{
    margin: 10px 0;
}

.download__icon {
    height: 8rem;
}

.download__meta h4 {
    margin-bottom: 0;
    font-size: 1em;
    line-height: 1.3;
}

.send-btn-container a {
    display: inline-block;
    font-size: 18px;
    padding: 8px 10px;
    margin-top: 15px;
    background-color:#67e8f9;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    transition: all .3s ease-in-out;
  }

  .send-btn-container a:hover {
      background-color: #06b6d4;
  }

  #toast{
    position: absolute;
    top: 4px;
    left: 50%;
    transform: translate(-50%, 0.25rem);
    padding: 10px 20px;
    border-radius: 6px;
    background-color: rgb(34 211 238);
    color: white;
    transition: transform ease-in-out 500ms;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    font-size: 18px;
  }

@media (min-width: 640px) { 

    section.download h2{
        font-size: 1.5em;
    }

    section.download {
        margin: 160px 0;
        width: 50%;
        border-radius: 25px;
    }

    #social-links {
        flex-direction: row;
    }

    #social-links img{
        position: static;
        padding: 0;
        width: 2.2rem;
        margin-left: 1.25rem;
        margin-right: 1.25rem;
        background-color: white;
    }

    #social-links img:hover{
        transform: scale(1.5);
        transform: rotate(360deg);
        filter: hue-rotate(180deg);
    }

    .send-btn-container a{
        padding: 8px 40px;
    }
 }


